{% extends "layout.html" %}

{% block page_title %}
  #govdesign Playbook
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        <span class="heading-secondary">#govdesign</span>
        Playbook
      </h1>
      <p class="lede">
        This is a useful reading list for designing in government.
      </p>

      <p>
        These articles are a great reference point for designers and researchers, but we also find ourselves sharing the same links over and over with delivery teams. This list is an attempt to put them all in one place.
      </p>

      <p>
        If you find any broken links or want to contribute, please <a href="" target="_blank">raise an issue on Github</a>.
      </p>

      <h2 class="heading-small">
       Contents:
     </h2>

     <ul class="list  list-contents">
       <li><a href="#building-better-services">Building better services</a></li>
       <li><a href="#user-research-for-services">User research for services</a></li>
       <li><a href="#getting-government-working-better">Getting government working better</a></li>
       <li><a href="#building-the-right-things-the-right-way">Building the right things the right way</a></li>
       <li><a href="#working-in-government-and-public-sector">Working in government &amp; public sector</a></li>
       <li><a href="#standards-and-patterns">Standards and patterns</a></li>
       <li><a href="#presentations">Presentations</a></li>
       <li><a href="#posters">Posters</a></li>
     </ul>

     <h3 id="building-better-services" class="heading-large">
       Building better services
     </h3>

     <ul class="list  list-contents">
       <li><a href="https://gds.blog.gov.uk/2016/04/18/what-we-mean-by-service-design/">What we mean by service design</a></li>
       <li><a href="https://designnotes.blog.gov.uk/2016/04/22/identifying-a-good-service/">Identifying a good service</a></li>
       <li><a href="https://designnotes.blog.gov.uk/2015/06/22/good-services-are-verbs-2/">Good services are verbs</a></li>
       <li><a href="https://hodigital.blog.gov.uk/2016/12/21/creating-a-common-language-to-describe-services/">Creating a common language to descrive services</a></li>
       <li><a href="https://hodigital.blog.gov.uk/2017/07/31/types-and-stages-of-services/">Types and stages of services</a></li>
       <li><a href="https://userresearch.blog.gov.uk/2015/06/17/researching-and-mapping-your-users-current-experience/">Researching and mapping your users current experience</a></li>
       <li><a href="https://userresearch.blog.gov.uk/2017/04/18/why-we-care-more-about-effectiveness-than-efficiency-or-satisfaction/">Why we care more about effectiveness than efficiency or satisfaction</a></li>
       <li><a href="https://hodigital.blog.gov.uk/2016/09/30/what-does-transformation-really-mean/">What does transformation really mean</a></li>
       <li><a href="https://hodigital.blog.gov.uk/2017/04/20/building-internal-systems-v-providing-services/">Building internal systems v providing services</a></li>
     </ul>

     <h3 id="user-research-for-services" class="heading-large">
       User research for services
     </h3>

     <ul class="list  list-contents">
       <li><a href="https://userresearch.blog.gov.uk/2016/02/15/passing-the-user-research-points-in-your-service-assessment/">Passing the user research points in your service assessment</a></li>
       <li><a href="https://digitalhealth.blog.gov.uk/2015/09/16/guest-blog-understanding-user-needs-that-cross-government-boundaries/">Understanding user needs that cross government boundaries</a></li>
       <li><a href="https://userresearch.blog.gov.uk/2015/07/01/what-does-this-mean-tips-for-testing-your-words/">What does this mean? Tips for testing your words</a></li>
       <li><a href="https://userresearch.blog.gov.uk/2014/08/20/including-users-with-low-digital-skills-in-user-research/">Including users with low digital skills in user research</a></li>
       <li><a href="https://hodigital.blog.gov.uk/2017/04/21/confidence-tricks-how-to-help-assisted-digital-users/">Confidence tricks: how to help assisted digital users</a></li>
       <li><a href="https://userresearch.blog.gov.uk/2015/06/03/tips-for-presenting-user-research-at-show-and-tell/">Tips for presenting user research at show and tell</a></li>
       <li><a href="https://gds.blog.gov.uk/2013/08/30/how-we-do-user-research-in-agile-teams/">How we do user research in agile teams</a></li>
     </ul>

     <h3 id="getting-government-working-better" class="heading-large">
       Getting government working better
     </h3>

     <ul class="list  list-contents">
       <li><a href="http://www.hollidazed.co.uk/2015/07/28/frame-the-problem/">Frame the problem</a></li>
       <li><a href="https://blog.mattedgar.com/2015/01/23/the-last-target-operating-model-youll-ever-need/">The last target operating model you'll ever need</a></li>
       <li><a href="https://www.linkedin.com/pulse/change-management-paul-shetler">Change, not “change management”</a></li>
       <li><a href="https://blog.mattedgar.com/2015/05/12/most-of-government-is-mostly-service-design-most-of-the-time-discuss/">Most of government is mostly service design most of the time. Discuss.</a></li>
     </ul>

     <h3 id="building-the-right-things-the-right-way" class="heading-large">
       Building the right things the right way
     </h3>

     <ul class="list  list-contents">
       <li><a href="https://blog.intercom.com/great-product-managers-dont-spend-time-on-solutions/">Great product managers don't spend time on solutions</a></li>
       <li><a href="https://designnotes.blog.gov.uk/2016/03/30/why-we-use-user-journey-maps-in-government/">Why we use user journey maps in government</a></li>
       <li><a href="http://melissaperri.com/2015/07/22/the-product-kata/">The product kata</a></li>
       <li><a href="https://lean-product-design.18f.gov/5-develop-hypotheses/">Develop broad hypotheses</a></li>
       <li><a href="https://medium.com/research-things/design-sprints-are-snake-oil-fd6f8e385a27">Design sprints are snake oil</a></li>
       <li><a href="https://medium.com/@indiyoung/when-to-research-for-deep-understanding-d25f7161c079">When to research for deep understanding</a></li>
       <li><a href="http://www.romanpichler.com/blog/10-tips-writing-good-user-stories/">10 tips for writing good user stories</a></li>
       <li><a href="https://cucumber.io/blog/2015/12/08/example-mapping-introduction">Introducing example mapping</a></li>
       <li><a href="http://www.jeffgothelf.com/blog/agile-doesnt-have-a-brain/">Agile doesn't have a brain</a></li>
       <li><a href="https://blog.mattedgar.com/2016/09/15/the-quick-and-the-dead-or-6-things-that-change-when-your-service-goes-live/">The quick and the dead, or 6 things that change when your service goes live</a></li>
     </ul>

     <h3 id="working-in-government-and-public-sector" class="heading-large">
       Working in government &amp; public sector
     </h3>

     <ul class="list  list-contents">
       <li><a href="https://github.com/paulmaltby3/digitalpolicyreadinglist/blob/master/Digitalpolicyreadinglist.md">[A list within a list] for government policy people interested in digital</a></li>
       <li><a href="https://medium.com/public-innovators-network/bad-service-design-is-not-a-strategy-b3024efd3e9d">Bad service design is not a strategy</a></li>
       <li><a href="https://medium.com/@maltbyps/prototyping-a-one-team-government-manifesto-1596d99d3f57">Prototyping a One Team Government manifesto</a></li>
       <li><a href="https://medium.com/@maltbyps/one-team-government-a-short-guide-to-policy-for-government-digital-professionals-c3cc1e421406">One Team Government: a short guide to policy for government digital professionals</a></li>
       <li><a href="https://medium.com/public-innovators-network/what-if-boldness-were-an-explicit-value-of-the-civil-service-3df6a3d2d008">What if boldness were an explicit value of the civil service?</a></li>
       <li><a href="https://medium.com/@sheldonline/the-government-it-self-harm-playbook-6537d3920f65">The government IT self-harm playbook</a></li>
       <li><a href="https://medium.com/@charlesrt/government-doesnt-have-needs-740b8a78e900">Government doesn't have needs</a></li>
       <li><a href="https://wearecitizensadvice.org.uk/charities-dont-need-a-traditional-space-to-deliver-a-great-service-d0988b184877">Charities don't need a traditional space to deliver a great service</a></li>
       <li><a href="https://medium.com/public-innovators-network">Public innovators’ network</a></li>
     </ul>

     <h3 id="standards-and-patterns" class="heading-large">
       Standards and patterns
     </h3>

     <h4 class="heading-small">
       UK Government
     </h4>

     <ul class="list  list-contents">
       <li><a href="https://www.gov.uk/service-manual">Service manual</a></li>
       <li><a href="https://www.gov.uk/service-manual/service-standard">Service standard</a></li>
       <li><a href="https://govuk-elements.herokuapp.com/">GOV.UK elements</a></li>
     </ul>

      <h4 class="heading-small">
        Australian Digital Transformation Office
      </h4>

      <ul class="list  list-contents">
        <li><a href="http://ausdto.github.io/service-handbook/">Service handbook</a></li>
      </ul>

      <h4 class="heading-small">
        USA digital services team (18f)
      </h4>

      <ul class="list  list-contents">
        <li><a href="https://playbook.cio.gov/">Digital services playbook</a></li>
        <li><a href="https://lean-product-design.18f.gov/">Lean product design</a></li>
      </ul>

      <h4 class="heading-small">
        Non-Government
      </h4>

      <ul class="list  list-contents">
        <li><a href="https://catalogue.projectsbyif.com/">IF Data Permissions Catalogue</a></li>
        <li><a href="https://projectsbyif.com/ideas/making-it-clear-how-machines-make-decisions">Making it clear when machines make decisions</a></li>
        <li><a href="https://www.thedigitalstandard.org/">The digital standard</a></li>
        <li><a href="https://privacypatterns.org/">Privacy patterns</a></li>
      </ul>

      <h3 id="presentations" class="heading-large">
       Presentations
      </h3>

      <ul class="list  list-contents">
        <li><a href="http://www.doingpresentations.com/index.html">Doing presentations</a></li>
        <li><a href="http://seriouspony.com/blog/2013/10/4/presentation-skills-considered-harmful">Presentation skills considered harmful</a></li>
      </ul>

      <h3 id="posters" class="heading-large">
        Posters
      </h3>

      <ul class="list  list-contents">
        <li><a href="https://github.com/UKHomeOffice/posters">UK Home Office Posters</a></li>
      </ul>

      <p>
        Many thanks to <a href="https://twitter.com/kateldn?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">@kateldn</a> and others for curating this list.
      </p>

    </div>
  </div>
</main>

{% endblock %}
